# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [1]:
# print two or more values using single statement
print(1, 2, 'hello world')

1 2 hello world

In [2]:
# print the name of your country
print('Pakistan')

Pakistan

In [10]:
# print your date of birth

In [3]:
# print your name, age and height using one print statement
print('23-09-2003')

23-09-2003

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [12]:
type(1)

int

In [13]:
type(2.5)

float

In [14]:
type("hello world")

str

In [4]:
# what will be the type of '5'
print(type('5'))
# what is type of 9.3333333333
print(type(9.3333333333))

<class 'str'>
<class 'float'>

In [6]:
#print the type of (), [], {} 
print(type(()), type([]), type({}))

<class 'tuple'> <class 'list'> <class 'dict'>

In [ ]:
# what is output of type(range(5))

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [8]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [9]:
# to print the name you can use print statement
print(name)

Ahmed

In [10]:
# print the values of age and height
print(age)

20

In [11]:
# print all three values using single print statement
print(name, age, height)

Ahmed 20 3.5

In [12]:
# What will happen if you print 1 million using following statement
print(1,000,000)
# now search out the way to print 1 million and try it out
print('1,000,000', 1000000)

1 0 0
1,000,000 1000000

In [14]:
# Store three integers in x,y,z and print them using single print statement.
x = 1
y = 2
z = 'hi'

print(x, y, z)

1 2 hi

In [15]:
var1 = 121.25
# print type of var1
print(type(var1))

<class 'float'>

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [ ]:
#what will happen
#47name = 'Pakistan'
#name@ = 'Pakistan'
#class = 'Pakistan'
#myname = 'kamran'
#first_val = 10
#string = 'abc'

It turns out that class is one of Pythonâ€™s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [ ]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

In [ ]:
# print 200+323-433

In [ ]:
# print (2+1)*(8-6)

In [16]:
# print no of bytes in 1KB using exponentiation operator
print(1024**1)

1024

In [ ]:
# print(2*3**3*4)

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [55]:
# execute the following statements and see the output
#5
# x = 5
# x + 1

In [ ]:
# what is output of
# y = 10
# x = y+=2
# print(x)

In [17]:
# Store three integers in x,y,z and print their sum and product.
x = 1
y  =2
z = 3

print(x+y+z, x*y*z)

6 6

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [ ]:
# write output of the following commands without excuting it
# print (2*(3-1))
# print ((1+1)**(5-2))
# print (2**1+1)
# print (3*1**3)

# 10. String operations

In [56]:
first = 10
second = 20
print (first + second)

30

In [57]:
first = '10'
second = '20'
print (first + second)

1020

In [58]:
print ("hello" * 3 )

hellohellohello

In [18]:
# print your name 10 times
name = 'Irfan Ahmad'
print(name, name, name, name, name, name, name, name, name, name)

Irfan Ahmad Irfan Ahmad Irfan Ahmad Irfan Ahmad Irfan Ahmad Irfan Ahmad Irfan Ahmad Irfan Ahmad Irfan Ahmad Irfan Ahmad

In [19]:
# What is output of var="James"*2*3
'James'*2*3

'JamesJamesJamesJamesJamesJames'

# 11. Asking the user for input

In [64]:
name = input("please enter name: ")
print (name)

please enter name: aqs
aqs

In [20]:
# wirte a program which take age from user and concate it three time
age = input('input your age')
print(age*3)

input your age23
232323

In [22]:
# Write a program to accept two numbers from the user and calculate multiplication.
x = int(input('input 1st number'))
y = int(input('input 2nd number'))

print(x*y)

input 1st number2
input 2nd number6
12

In [23]:
# modify this code so that it prints 121212 instead of 36
age='12'
print(age*3)

121212

# 12. Type Casting

In [72]:
a = '10'
print (a)

10

In [90]:
# int(a)
# str(a)

In [24]:
# take an integer from user and multiply it with 15
print(int(input('enter a number'))*15)

enter a number12
180

In [25]:
num_int = 123
num_str = "456"
# Find the sum of these 2 variables
print(num_int + int(num_str))

579

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [26]:
celsius = float(input('Enter the temprature in celsius'))
print((celsius * (9/5) + 32))

Enter the temprature in celsius0
32.0